{% extends "core/base.html" %}

{% block page_title %}
    <h4 class="text-light">Change password</h4>
{% endblock page_title %}

{% block maincontent %}

    <div class="card">
        <div class="card-body">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    {{field.label_tag}} <span class="errors">{{field.errors|striptags}}</span>
                    {{field}}
                {% endfor %}
                <input type="submit" class="btn btn-primary form-control" value="change password">
            </form>
        </div>
    </div>

{% endblock maincontent %}