{% extends "core/base.html" %}

{% block page_title %}
    <h3 class="text-light">Feedback</h3>
{% endblock page_title %}

{% block maincontent %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        {% endfor %}
{% endif %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card m-2 p-2 mt-0 bg-primary-subtle">
                <div class="card-title bg-success">
                    <h4 class="text-center text-white">Leave Feedback</h4>
                </div>
                <div class="card-body p-4">
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            {{field.label_tag}} <span class="errors">{{field.errors|striptags}}</span>
                            {{field}}
                        {% endfor %}
                        <input type="submit" value="Save Feedback" class="form-control btn btn-primary mt-1">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Feedback Messages</th>
                        <th>Feedback replies</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feedback in feedback_data %}
                        <tr>
                            <td>{{feedback.id}}</td>
                            <td>{{feedback.feedback}}</td>
                            <td>{{feedback.feedback_reply}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock maincontent %}